# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (IMPORTANT)
.env
client/.env
server/.env

# Logs
logs/
*.log

# Build folders
client/build/
build/
dist/

# Cache
.cache/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db